.about{
  margin-top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./myself.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 40px;
}

.about-greet {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.about-body {
  margin: 10px 20px;
  color: #fff;
  text-shadow: 1px 1px 20px #000;
  font-weight: bold;
  font-size: 0.75em;
  text-align: justify;
}