.about{
  margin-top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./myself.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-top: 60px;
  overflow: hidden;
  padding-bottom: 40px;
}

.about-greet {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.about-body {
  margin: 10px 20px;
  color: #fff;
  text-shadow: 1px 1px 20px #000;
  font-weight: bold;
  font-size: 0.75em;
  text-align: justify;
}

.about_download{
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 20px #000;
  font-weight: bold;
  margin: 30px auto;
  display: block;
  font-size: 1.4em;
  text-decoration: underline;
  cursor: pointer;
}


@media only screen and (min-width: 600px) {
  .about-greet{
    font-size: 2.5em;
  }
  .about-body{
    font-size: 1.3em;
    margin: 20px;
  }
  .about_download {
    font-size: 1.7em;
    margin: 70px auto;
  }
}

@media only screen and (min-width: 992px) {
  .about-body{
    margin: 20px 150px;
  }
} 

@media only screen and (min-width: 1200px) {
  .about {
    margin-top: 0;
    background-size: cover;
    padding: 120px 0;
  }
  .about-greet {
    font-size: 3.5em;
  }
  .about-body {
    font-size: 1.7em;
  }
  .about_download {
    font-size: 2em;
    margin: 100px auto;
  }
}

@media only screen and (min-width: 1700px) {
  .about-greet {
    font-size: 4.2em;
  }
  .about-body {
    font-size: 2em;
    margin: 30px auto;
    width: 1100px;
  }
  .about_download {
    font-size: 2.5em;
    margin: 130px auto;
  }
}
