.contact-container {
  height: 350px;
}

.contact-title{
  margin-bottom: 45px;
}

.contact-info {
  margin: 20px;
}

.contact-info_icon {
  font-size: 1.5em;
  color: #5A0866;
  margin-right: 15px;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  width: 35px !important;
}

.contact-info_link {
  color: #074F68;
}

@media only screen and (min-width: 600px) {
  .contact-title{
    margin: 170px 0 0;
  }
  .contact-info {
    margin: 50px auto;
    font-size: 1.5em;
    width: 400px;
  }
  .contact-info_icon {
    width: 70px !important;
    font-size: 3.5em;
    margin-right: 30px;
  }
  .contact-container {
    height: 1000px;
  }
}

@media only screen and (min-width: 1700px) {
  .contact-title{
    margin: 170px 0 50px 0;
  }
  .contact-container {
    height: 1300px;
  }
}