.experience-container {
  display: flex;
  flex-direction: column;
}

.experience_company {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  box-shadow: 0px 0px 5px #666;
  background-color: #fff;
}

.company_tech{
  text-align: center;
}

.company_tech-logo{
  height: 25px;
  width: 25px;
  object-fit: contain;
  margin: 5px;
}

.company_logo-container{
  width: 90px;
  height: 90px;
  overflow: hidden;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}

.company_logo{
  height: 90px;
  width: 90px;
  object-fit: contain;
}

.company_name{
  color: #074F68;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}

.company_years{
  font-size: 0.7em;
  text-align: center;
  color: #333;
  padding-bottom : 10px;
  border-bottom: 1px solid #ccc;
  width: 80%;
  margin: auto;
}

.company_title{
  color: #5A0866;
  margin: 10px;
  font-weight: bold;
}

.company_responsabilities{
  margin: 10px;
  font-size: 0.8em;
  height: 200px;
  text-align: justify;
}

@media only screen and (min-width: 600px) {
  .experience_company {
    width: 480px;
  }
  .company_tech-logo {
    height: 40px;
    width: 40px;
    margin: 10px 5px;
  }
  .company_logo-container {
    width: 130px;
    height: 130px;
  }
  .company_logo {
    height: 130px;
    width: 130px;
  }
  .company_name {
    font-size: 2em;
  }
  .company_years {
    font-size: 1em;
  }
  .company_title {
    font-size: 1.6em;
    margin: 10px 30px;
  }
  .company_responsabilities {
    font-size: 1.1em;
    margin: 10px 30px;
  }
}

@media only screen and (min-width: 992px) {
  .experience-container {
    display: block;
    margin: auto;
    width: 990px;
  }
  .experience_company {
    width: 455px;
    display: inline-flex;
    margin: 20px;
    height: 700px;
  }
  .company_tech {
    height: 130px;
  }
} 

@media only screen and (min-width: 1700px) {
  .experience .section-title{
    margin-bottom: 50px;
  }
  .experience-container {
    display: block;
    margin: auto;
    width: 1300px;
  }
  .experience_company {
    width: 390px;
    height: 800px;
  }
  .company_responsabilities {
    height: 340px;
  }
}

@media only screen and (min-width: 2400px) {
  .experience-container {
    display: block;
    margin: auto;
    width: 2000px;
  }
  .experience_company {
    width: 360px;
  }
}