.navigation-container{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
.navigation-toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  transition: left 1s ease-in-out;
  text-align: center;
  z-index: 1000;
  color: #5A0866;
}
.navigation-toggle.open{
  left: 50%
}
.navigation{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  box-shadow: 0px 0px 12px #000;
  width: 0%;
  overflow: hidden;
  transition: width 1s ease-in-out;
  z-index: 1000;
  background: #ddd;
}
.navigation.open {
  width: 45%;
}
.navigation_logo {
  width: 140px;
}

.navigation-toggle_bars{
  position: absolute;
  font-size: 2em;
  transition: opacity 0.3s ease-in-out;
}

.open .navigation-toggle_bars{
  opacity: 0;
}

.navigation_item {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  list-style-type: none;
  color: #074F68;
  white-space: nowrap;
  align-items: center;
  font-size: 0.9em;
  box-sizing: border-box;
}

.navigation-item_icon{
  color: #5A0866;
}

.svg-inline--fa.navigation-item_icon{
  width: 35px;
}

.navigation_top-bar {
  box-shadow: 0px 0px 10px #000;
  height: 55px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #ddd;
}

.navigation-top-bar_logo {
  position: absolute;
  width: 90px;
  right: -10px;
  top: -2px;
}

.navigation-top-bar_logo .logo-name,
.navigation-top-bar_logo .logo-title{
  display: none;
}

.navigation-top-bar_title {
  width: 160px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 7px;
}

.navigation_menu {
  margin-top: 25px;
}

@media only screen and (min-width: 600px) {
  .navigation_logo {
    width: 270px;
  }
  .navigation_item {
    height: 80px;
    font-size: 1.5em;
    padding-left: 20px;
  }
  .navigation-item_icon {
    margin-right: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .navigation_logo {
    width: 345px;
  }
  .navigation_item {
    height: 90px;
    font-size: 1.7em;
    padding-left: 30px;
  }
  .navigation-item_icon {
    margin-right: 35px;
  }
} 

@media only screen and (min-width: 992px) {
  .navigation_logo {
    width: 445px;
  }
  .navigation_item {
    padding-left: 110px;
  }
  .navigation-item_icon {
    margin-right: 35px;
  }
} 

@media only screen and (min-width: 1200px) {
  .navigation{
    width: 200px;
  }
  .navigation-toggle{
    display: none;
  }
  .navigation_top-bar{
    display: none;
  }
  .navigation_logo {
    width: 200px;
  }
  .navigation_item {
    height: 80px;
    font-size: 1em;
    padding-left: 20px;
  }
  .navigation-item_icon {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 1700px) {
  .navigation {
    width: 400px;
  }
  .navigation_logo {
    width: 400px;
  }
  .navigation_item {
    height: 100px;
    font-size: 2em;
    padding-left: 60px;
  }
  .navigation-item_icon {
    margin-right: 30px;
  }
}

@media only screen and (max-height: 900px) and (max-width: 1200px) and (min-width: 700px){
  .navigation_item {
    height: 60px;
    font-size: 1.4em;
  }
}

@media only screen and (max-height: 700px) and (max-width: 1200px)  and (min-width: 700px){
  .navigation_menu {
    margin-top: 0;
  }
  .navigation_item {
    height: 30px;
    font-size: 1em;
    margin-left: 20px;
  }
}